.sui-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sui-layout-header {
  padding: 32px 24px;
  border-bottom: 1px solid #eeeeee;
}

.sui-search-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
}

.sui-layout-body {
  background: #fcfcfc;

}

.sui-layout-body__PDF-viewer {
  background: #fcfcfc;
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: right;
  position: relative;
  
}

.sui-search-box__wrapper {
  height: unset;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
  background: #FFFFFF;
  margin-top: 1rem;
  outline: none;
  border-radius: 0px;
  border: 0px;
  position: relative;
  box-sizing: inherit;
}

.sui-search-box__wrapper-iconSearch {
  height: unset;
  display: flex;
  position: relative;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
  background: none;
  margin-top: 1rem;
  background-color: rgb(52, 55, 65);
  Color: #FFFFFF;
  padding: 0.6rem;
  border-radius: 8px 0px 0px 8px;
  
}

.sui-search-box__text-input  {
  flex: 2;
  width: 100%;
  min-height: 40px;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #2587EA;
  border: 0px solid #FFF;
  outline: none;
  color: #FFF;
  border-radius: 0px 8px 8px 0px;
}

.sui-search-box__submit {
  height: unset;
  display: flex;
  position: relative;
  background: none;
  background-color: #2587EA;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16%;
  overflow: hidden;
  box-sizing: border-box;
  Color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  margin-top: 1rem;
}

.sui-layout-sidebar {
  -webkit-box-flex: 0;
  flex: 0 1 32%;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  color: rgb(52, 55, 65);
  line-height: 26px;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.sui-facet {
  padding: 28px 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;

}
  
  .sui-layout-sidebar-toggle {
    color: red;
    border: 1px solid red;
  }
  
  .sui-facet__title {
    font-size: 14px;
    color: #8b9bad;
    letter-spacing: 1px;
    font-family: 'Manrope', sans-serif;
    padding-top: 1rem;
   
  }

  .sui-result__title-link {
    color: red;
  }
  
  .sui-facet-view-more {
    color: red;
  }
  
  .sui-result {
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #FFF;
  box-sizing: border-box;
  line-height: 26px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  }

  h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    
  }

  .sui-result__button {
    justify-content: flex-start;
    display: flex;
    align-items: left;
    margin-left: 1.5rem;
  }
  .sui-result__button-page {
    background: #00823b;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    margin-right: 0.5rem;
    padding: 5px;
    cursor: default ;
  }
  .sui-result__button-paragraph {
    background: #DE2B5B;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    margin-right: 0.5rem;
    padding: 5px;
    cursor: default;
  }